@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico";
}

.swiper-button-next {
  background: rgba(0, 0, 0, 0.372);
  border-radius: 2rem;
  width: 2rem;
  height: 4rem;
  z-index: 50;
}

.swiper-button-prev {
  background: rgba(0, 0, 0, 0.372);
  border-radius: 2rem;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: white;
  font-size: small
}

.activeOne::after {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: #0000006c;
}

.gallery {
  column-width: 33%;
  column-count: 3;
  padding: 0 12px;
}

@media (max-width: 991px) {
  .gallery {
    column-count: 2
  }
}